.rating-box{
	width: 960px;
	border: 1px solid $DefaultColor;
	padding: $DefaultBoxPadding;
	margin: 0 auto;
}

// Wraper

.wraper{
	width: 960px;
	border: 1px solid $RedBorderd;
	padding: $DefaultBoxPadding;
	margin: 0 auto;	
}