h1,h2,h3{
	font-family: 'Oswald', sans-serif;
}

h1 {
	@include default-fontsize('h1');
}

h2{
	@include default-fontsize('h2');
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

div p.gray{
	color: $lightGray;
	font-size: 14px;
}

li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}